.array-container {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  transform: rotate(180deg) scaleX(-1);
}

.array-bar {
  width: 6px;
  background-color: #f7d1ba;
  margin: 0 3px;
  border-radius: 0px 0px 5px 5px;
}

canvas {
  display: block;
}
